<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/jugadores" class="waves-effect waves-light btn">Jugadores <i class="material-icons right">android</i></a></li>
      <li><a routerLink="/equipos" class="waves-effect waves-light btn">Equipos <i class="material-icons right">view_module</i></a></li>
      <li><a routerLink="/arbitros" class="waves-effect waves-light btn">Arbitros <i class="material-icons right">credit_card</i></a></li>
      <li><a routerLink="/individual" class="waves-effect waves-light btn">Individual <i class="material-icons right">person_pin</i></a></li>
      <li><a routerLink="/padre" class="waves-effect waves-light btn">Padre <i class="material-icons right">person_pin</i></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>